option_settings:
  - option_name: GITHUB_REPO
    value: "idnistrian/rpaas-vite"
  - option_name: GITHUB_TOKEN
    value: "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"
  - option_name: API_USERNAME
    value: "idnistrian"
  - option_name: API_PASSWORD
    value: "FigVam2021!"
  - option_name: PORT
    value: "8080"
